/*
Colors
Darkest Blue #131C2D
Dark Blue #131F33
grey #414A53
orange #FA6300
darker orange #F2590D

*/


/* Media Queries DONT TOUCH */

@media screen {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 875px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 500px) {}

@media screen and (max-width: 414px) {}

@media screen and (max-width: 320px) {}

:root {
    --darkest-blue: #131C2D;
    --dark-blue: #131F33;
    --silver-grey: #414A53;
    --ligher-grey: #C5C5C5;
    --light-grey: #BDBDBD;
    --l-grey: #666666;
    --grey: #252525;
    --black-grey: #1C1C1C;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Aleo-Light;
    font-size: 1.5em;
    width: 100%;
    margin: 0 auto;
    background-color: var(--black-grey);
}


/*Typography */

@font-face {
    font-family: Aleo-Light;
    src: url("fonts/Aleo-Light.otf") format("opentype");
}

@font-face {
    font-family: Aleo-Regular;
    src: url("fonts/Aleo-Regular.otf") format("opentype");
}

@font-face {
    font-family: Aleo-Bold;
    src: url("fonts/Aleo-Bold.otf") format("opentype");
}

@font-face {
    font-family: Aleo-Light;
    src: url("fonts/Aleo-Light.otf") format("opentype");
}

@media screen {
    h1 {
        font-size: 3.75em;
    }
    h2 {
        font-size: 3.25em;
    }
    h3 {
        font-size: 2.75em;
    }
    h4 {
        font-size: 2.25em;
    }
    p {
        font-size: 1em;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2.75em;
    }
    h3 {
        font-size: 2.5em;
    }
    h4 {
        font-size: 2.25em;
    }
    p {}
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 2.75em;
    }
    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 2.25em;
    }
    h4 {
        font-size: 2em;
    }
    p {}
}

@media screen and (max-width: 875px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2.15em;
    }
    h3 {
        font-size: 1.85em;
    }
    h4 {
        font-size: 1.7em;
    }
    p {}
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.6em;
    }
    h4 {
        font-size: 1.4em;
    }
    p {}
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 1.75em;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.45em;
    }
    h4 {
        font-size: 1.3em;
    }
    p {}
}

@media screen and (max-width: 414px) {
    h1 {
        font-size: 1.35em;
    }
    h2 {
        font-size: 1.30em;
    }
    h3 {
        font-size: 1.25em;
    }
    h4 {
        font-size: 1.2em;
    }
    p {}
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 1.2em;
    }
    h2 {
        font-size: 1.15em;
    }
    h3 {
        font-size: 1.10em;
    }
    h4 {
        font-size: 1.05em;
    }
    p {}
}


/* Header only Styles */

@media screen {
    header {
        height: 10em;
        display: block;
        position: absolute;
        clear: left;
        width: 100%;
        background-color: var(--darkest-blue);
        color: white;
        z-index: 777;
    }
    .full-nav-bar {
        height: 10em;
        width: 100%;
    }
    .header-menu {
        position: absolute;
        width: 100%;
        height: 5em;
        padding-right: 5%;
    }
    .header-menu ul {
        float: right;
        height: 5em;
        list-style: none;
    }
    .header-menu ul li {
        display: inline-block;
    }
    .header-menu ul li a {
        line-height: 5em;
        color: white;
        text-align: center;
        padding: 1em 0 1em 1em;
        text-decoration: none;
    }
    .header-menu ul li a:hover {
        background-color: var(--dark-blue);
        text-decoration: underline;
    }
    .title-call {
        position: absolute;
        margin-top: 6em;
        height: 2.5em;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .title-head {
        float: left;
        width: 75%;
    }
    .title-head h1 {
        position: relative;
        width: 100%;
        text-align: left;
        top: 50%;
        transform: translate(0%, -50%);
    }
    .title-head a {
        text-decoration: none;
        color: white;
    }
    .call-to-action {
        float: left;
        width: 25%;
    }
    .call-to-action li {
        position: relative;
        width: 100%;
        text-align: right;
        top: 50%;
        transform: translate(0%, -50%);
    }
    .call-to-action a {
        text-decoration: none;
        color: white;
    }
    .mobile-nav-bar {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    header {
        height: 8em;
    }
    .full-nav-bar {
        height: 8em;
    }
    .header-menu {
        height: 4em;
        text-align: center;
        padding: 0 0 0 0;
    }
    .header-menu ul {
        height: 4em;
        text-align: center;
        float: none;
    }
    .header-menu ul li a {
        line-height: 4em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .title-call {
        margin-top: 5em;
        height: 2em;
    }
    .call-to-action li {}
    .title-head {}
    .title-head h1 {}
}

@media screen and (max-width: 875px) {
    header {
        height: 5em;
    }
    .full-nav-bar {
        display: none;
    }
    .mobile-nav-bar {
        display: block;
        height: 5em;
        width: 100%;
        margin: 0 auto;
        position: fixed;
        top: 0;
    }
    .mob-title {
        position: absolute;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .mob-title {
        width: 100%;
        color: white;
        text-align: center;
    }
    .mob-title a {
        color: white;
        text-decoration: none;
    }
    .mob-menu-button {
        position: absolute;
        text-align: center;
        right: 2.5em;
        top: 50%;
        transform: translate(50%, -50%);
    }
    .mob-menu-button a {
        color: white;
        padding: 1em;
    }
    .mob i {
        transform: scale(0.85);
    }
    .mobile-menu {
        position: absolute;
        display: block;
        background-color: var(--dark-blue);
        width: 100%;
        margin: 0 auto;
        top: 5em;
    }
    .mobile-menu ul {
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .mobile-menu ul li {
        display: inline;
    }
    .mobile-menu ul li a {
        display: block;
        padding: 1.25em;
        color: white;
        text-align: center;
        text-decoration: none;
    }
    .mobile-menu ul li a:hover {
        background-color: var(--darkest-blue);
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 4em;
    }
    .mobile-nav-bar {
        height: 4em;
    }
    .mob-menu-button {
        right: 2em;
    }
    .mob i {
        transform: scale(0.75);
    }
    .mobile-menu {
        top: 4em;
    }
    .mobile-menu ul li a {
        padding: 1.25em;
    }
}

@media screen and (max-width: 500px) {
    header {
        height: 3.5em;
    }
    .mobile-nav-bar {
        height: 3.5em;
    }
    .mob-menu-button {
        right: 1.75em;
    }
    .mob i {
        transform: scale(0.55);
    }
    .mobile-menu {
        top: 3.5em;
    }
    .mobile-menu ul li a {
        padding: 1.25em;
    }
}

@media screen and (max-width: 414px) {
    .mob i {
        transform: scale(0.45);
    }
    .mobile-menu ul li a {
        padding: 1em;
    }
}

@media screen and (max-width: 320px) {
    .mob i {
        transform: scale(0.40);
    }
    .mobile-menu ul li a {
        padding: 0.75em;
    }
}


/* Fix for expanding header width ): */

*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}


/* Page Wrap Content Styles Only */

@media screen {
    .page-wrap {
        position: relative;
        display: block;
        z-index: 555;
        margin: 0 auto;
        width: 100%;
        padding-top: 10em;
        height: auto;
        overflow: hidden;
        background-color: transparent;
    }
}

@media screen and (max-width: 1024px) {
    .page-wrap {
        padding-top: 8em;
    }
}

@media screen and (max-width: 875px) {
    .page-wrap {
        padding-top: 5em;
    }
}

@media screen and (max-width: 600px) {
    .page-wrap {
        padding-top: 4em;
    }
}

@media screen and (max-width: 500px) {
    .page-wrap {
        padding-top: 3.5em;
    }
}

@media screen and (max-width: 320px) {}


/* Responsive Grid */
/* responsive-grid-height.js is needed to make all columns in a row same height */

@media screen {
    .grid {
        width: 100%;
        max-width: 1200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .row {
        overflow: hidden;
        width: 100%;
    }
    .columns {
        width: 100%;
        display: inline-block;
        float: left;
        background-color: white;
    }
    .twelve-twelve {
        width: 100%;
        margin-left: 0%;
    }
    .six-twelve {
        width: 48%;
        margin-left: 2%;
    }
    .four-twelve {
        width: 30%;
        margin-left: 3.3333%;
    }
    .three-twelve {
        width: 21%;
        margin-left: 4%;
    }
    .columns:first-child {
        margin-left: 0%;
    }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 875px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 500px) {
    .grid {
        max-width: 500px;
        background-color: white;
    }
    .twelve-twelve {
        width: 100%;
        margin: 0 0 0 0;
    }
    .six-twelve {
        width: 100%;
        margin: 0 0 0 0;
    }
    .four-twelve {
        width: 100%;
        margin: 0 0 0 0;
    }
    .three-twelve {
        width: 100%;
        margin: 0 0 0 0;
    }
}

@media screen and (max-width: 414px) {}

@media screen and (max-width: 320px) {}


/* Objects Styles */

.centered {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.sub-wrap {}

@media screen {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 875px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 500px) {}

@media screen and (max-width: 414px) {}

@media screen and (max-width: 320px) {}
